#map
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#controls {
    position: absolute;
    background: white;
    bottom: 2rem;
    right: 1rem;
    padding: 1rem;
    z-index: 3;
    border-radius: 0.25rem;
    border: 2px solid rgb(0 0 0 / 25%);
    box-shadow: 0 0 2px rgb(0 0 0 / 25%);
}

#input {
    position: absolute;
    background: white;
    top: 1.5rem;
    left: 5rem;
    padding: 0.5rem;
    z-index: 3;
    border-radius: 0.25rem;
    border: 2px solid rgb(0 0 0 / 25%);
    box-shadow: 0 0 2px rgb(0 0 0 / 25%);
    display:flex;
    border-color: cornflowerblue;
}
#lat, #long {
    
    margin-left: 4px;
    margin-right: 4px;
}

#input label {
    font-family: sans-serif;
    color: cornflowerblue;
}

#input input {
    color: cornflowerblue;
    width: 4rem;
}

#layers{
    position: absolute;
    background: rgb(64 186 200 / 100%);
    top: 1.5rem;
    right:2rem;
    padding: 0px;
    z-index: 2;
    border-radius: 0.25rem;
    display:flex;
    padding: 1rem;
    flex-direction: column;
}

/*ul {
    background: rgb(64 186 300 / 25%);*/
   

.layerbutton{
    display: block;
    cursor: pointer;
    box-sizing: 100%;
       
}
.layerbutton:hover{
   background-color:rgb(186 213 232 / 50%);
    
}

.layerbutton:focus{
    
    color: rgb(255, 0, 106);
}


#options, #skip {
    cursor: pointer;
}
#options:hover, #skip :hover{
  transform: translateY(-1px);
}
#options:active, #skip :active{
    transform: translateY(1.5px);
}

#selected {
    color: crimson;
}


